/* Change default background color to a light gray */
body, html {
    background-color: #ededed;
}

.green-bg-color {
    background-color: #4aaaa5 !important;
}

h1, h5 {
    color: #4aaaa5 !important;
}

a.display-contents {
    display: contents;
}

img.fit-image {
    /* max-width: inherit !important; */
    max-width: 100% !important;
}